/* Var */

:root {
  --color-1: rgba(182, 15, 97, 0.9);
  --color-1-dark: rgba(135, 11, 72, 0.9);
  --color-2: rgba(242, 112, 45, 0.9);
  --color-2-dark: rgba(222, 85, 14, 0.9);
  --color-3: rgba(45, 181, 167, 0.9);
  --color-3-dark: rgba(35, 140, 129, 0.9);
  --color-4: rgba(190, 61, 244, 0.9);
  --color-4-dark: rgba(173, 14, 240, 0.9);
  --color-5: rgba(180, 224, 67, 0.9);
  --color-5-dark: rgba(158, 206, 34, 0.9);
  --color-6: rgba(242, 194, 58, 0.9);
  --color-6-dark: rgba(234, 177, 15, 0.9);
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Wendy One', sans-serif;
  height: 100vh;
  overflow: hidden;

  background-image: url('/assets/happy-bday.jpg');
}

/* Layout */
.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.balloon{
  display: flex;
  justify-content: center;

  margin-bottom: 2rem;
}

.balloon > div {
  width: 150px;
  height: 180px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.celebrated {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Text */

span {
  font-size: 6em;
  color: white;
}

h1 {
  color: white;
  font-size: 10em;
  background: -webkit-linear-gradient(
    left,
    rgba(182, 15, 97, 0.9),
    rgba(242, 112, 45, 0.9),
    rgba(45, 181, 167, 0.9),
    rgba(190, 61, 244, 0.9),
    rgba(180, 224, 67, 0.9),
    rgba(242, 194, 58, 0.9)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Balloon */

.balloon > div:nth-child(1) {
  background: var(--color-1);
  box-shadow: inset 10px 10px 10px var(--color-1-dark);
  animation: balloon1 4s ease-in-out infinite;
}

.balloon > div:nth-child(2) {
  background: var(--color-2);
  box-shadow: inset 10px 10px 10px var(--color-2-dark);
  animation: balloon2 6s ease-in-out infinite;
}

.balloon > div:nth-child(3) {
  background: var(--color-3);
  box-shadow: inset 10px 10px 10px var(--color-3-dark);
  animation: balloon4 6s ease-in-out infinite;
}

.balloon > div:nth-child(4) {
  background: var(--color-4);
  box-shadow: inset 10px 10px 10px var(--color-4-dark);
  animation: balloon1 5s ease-in-out infinite;
}

.balloon > div:nth-child(5) {
  background: var(--color-5);
  box-shadow: inset 10px 10px 10px var(--color-5-dark);
  animation: balloon3 5s ease-in-out infinite;
}

.balloon > div:nth-child(6) {
  background: var(--color-6);
  box-shadow: inset 10px 10px 10px var(--color-6-dark);
  animation: balloon2 3s ease-in-out infinite;
}

/* Balloon's node */

.balloon > div:before {
  position: absolute;
  bottom: -27px;
  content:"▲";
  font-size: 2em;
}

.balloon > div:nth-child(1):before {
  color: var(--color-1);
}

.balloon > div:nth-child(2):before {
  color: var(--color-2)
}

.balloon > div:nth-child(3):before {
  color: var(--color-3)
}

.balloon > div:nth-child(4):before {
  color: var(--color-4)
}

.balloon > div:nth-child(5):before {
  color: var(--color-5)
}

.balloon > div:nth-child(6):before {
  color: var(--color-6)
}

/*** Keyframes ***/

/* Balloon 1 4 */
@keyframes balloon1 {
  0%, 100% {
      transform: translateY(0) rotate(-6deg);
  }
  50% {
      transform: translate(10px, -20px) rotate(8deg);
  }
}

/* Balloon 2 6 */
@keyframes balloon2 {
  0%, 100% {
      transform: translateY(0) rotate(6deg);
  }
  50% {
      transform: translateY(-30px) rotate(-8deg);
  }
}

/* Balloon 5 */
@keyframes balloon3 {
  0%, 100% {
      transform: translate(0, -10px) rotate(6deg);
  }
  50% {
      transform: translate(-20px, 30px) rotate(-8deg);
  }
}

/* Balloon 3 */
@keyframes balloon4 {
  0%, 100% {
      transform: translate(10px, -10px) rotate(-8deg);
  }
  50% {
      transform: translate(-15px, 10px) rotate(10deg);
  }
}


       